{% extends "layouts/main-layout.twig" %}

{% block title %}Tests{% endblock %}

{% block content %}
    <div class="row-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="offset3 span6">
            <h2 class="text-center text-center">Hello, {{ userName }}, select test</h2>
            <form id="selected_test" class="form-horizontal" method="get" action="/test">
                <div class="control-group">
                    <label class="control-label">Tests:</label>
                    <div class="controls">
                        <select class="selectpicker" name="test_name" data-style="btn-link" data-width="100%"></select>
                    </div>
                </div>
                <input type="submit" class="btn-large btn-primary btn-large offset3 span6" value="Next">
            </form>
        </div>
    </div>

    <script>
        $.get(
            "/api/tests",
            {},
            function(data){
                const theme = JSON.parse(data);
                res = '';
                for (var i =0; i < theme.count; i++) {
                    res += "<option>"+theme['test'+i]+"</option>";
                }

                $('.selectpicker').html(res);
            }
        );
    </script>
{% endblock %}
