<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %} -- Math Test</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="css/bootstrap.css" rel="stylesheet" media="screen">
            <link href="css/bootstrap-select.min.css" rel="stylesheet" media="screen">
            <link href="css/style.css" rel="stylesheet" media="screen">
            <script type="text/javascript" src="js/jquery.js"></script>
            <script type="text/javascript" src="js/bootstrap.js"></script>
            <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <img class="img-rounded " src="img/ico.png" width="140" height="140" >
        {% block content %}{% endblock %}

        {% if userName or teacher %}
            {% include "components/logout.twig" %}
        {% endif %}
    </body>
</html>
